{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container pb-48 relative">
    <div class="row" , style="width:100%;">
        <h1 class="text-uppercase text-center headerstyle">Cryptocurrency Energy Usage</h1>

        <div class="base-triangle-layout">
            <div style="align-self: flex-end">
                <image_wrapper-component
                        image_class="image_size_limiter_header"
                        image_source_path="{{ url_for('static', filename = 'images/earth_car.png') }}"
                        value="{{totals[1]}}"
                        description="Trips Around the World">
                </image_wrapper-component>
            </div>
            <div style="align-self: flex-start">
                <image_wrapper-component
                        image_class="image_size_limiter_header"
                        image_source_path="{{ url_for('static', filename = 'images/pine_tree_3.png') }}"
                        value="{{totals[2]}} of"
                        description="Tree Equivalents CO2 Annually">
                </image_wrapper-component>
            </div>
            <div style="align-self: flex-end">
                <image_wrapper-component
                        image_class="image_size_limiter_header"
                        image_source_path="{{ url_for('static', filename = 'images/uk_map_2.png') }}"
                        value="{{totals[0]}}%"
                        description="Of the annual Electricity Consumption of the UK">
                </image_wrapper-component>
            </div>

        </div>
    </div>

    <script>
        let currencies = {{currencies | safe}}
        let labels = currencies.map(x => x[0]).slice(0, 10)
        let datapoints = currencies.map(x => x[1]).slice(0, 10)

        const data = {
            labels: labels,
            datasets: [{
                label: 'Cryptocurrency vs Energy Consumption (TW/a)',
                backgroundColor: 'rgba(104, 15, 194, 0.5)',
                fill: true,
                tension: 0.4,
                borderColor: '#680FC2',
                data: datapoints,
                pointStyle: 'circle',
                pointRadius: 6,
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Cryptocurrencies with the Highest Energy Consumption (TW/a)',
                    }, legend: {
                        display: false
                    }
                },

                tooltip: {
                    usePointStyle: true,
                },
                interaction: {
                    intersect: false,
                },
            }
        };
    </script>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>


    <div class="row" style="background-color:white; color:black; padding:20px; margin-top: 8em !important;">
        <div class="accordion" id="accordionExample">
            {% for curr in currencies %}
            <div class="accordion-item" style="min-height: 5em !important;">
                <h2 class="accordion-header" id="heading{{ curr[0] }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ curr[0] }}" aria-expanded="false"
                            aria-controls="collapse{{ curr[0] }}"
                            style="min-height: 5em !important;">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <b>{{curr[0]}}</b>
                                </div>
                                <div class="col-sm">
                                    Energy (TWh/a): <b>{{curr[1]}}</b>
                                </div>
                                <div class="col-sm">
                                    CO2 (t/a) : {{curr[2]}}
                                </div>
                                <div class="col-sm">
                                    Price ($) : {{curr[3]}}
                                </div>
                                <div class="col-sm">
                                    Market Cap : {{curr[4]}}
                                </div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapse{{ curr[0] }}" style="min-height: 11em !important;" class="accordion-collapse collapse"
                     aria-labelledby="heading{{ curr[0] }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body accordion-body-max-height">
                        <div class="row-container">
                            <image_wrapper-component
                                    image_class="image_size_limiter_akkordeon"
                                    image_source_path="{{ url_for('static', filename = 'images/uk_map_2.png') }}"
                                    value="{{curr[5]}}%"
                                    description="Of the annual Electricity Consumption of the UK">
                            </image_wrapper-component>
                            <image_wrapper-component
                                    image_class="image_size_limiter_akkordeon"
                                    image_source_path="{{ url_for('static', filename = 'images/earth_car.png') }}"
                                    value="{{curr[6]}}"
                                    description="Trips Around the World">
                            </image_wrapper-component>
                            <image_wrapper-component
                                    image_class="image_size_limiter_akkordeon"
                                    image_source_path="{{ url_for('static', filename = 'images/pine_tree_3.png') }}"
                                    value="{{curr[7]}}"
                                    description="Tree Equivalents CO2 Annually">
                            </image_wrapper-component>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
