<div class="container" min-width="500" min-height="200">
    <p>
        MYTEXTBODY
    </p>
    VISUALISATIONS HERE
<!--
    <div class="row">
        <div class="page-header">Circle progress bar with image</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">

             <div class="wrapper">

                <img src="loading.js/150x150" width="150" height="150" class="img-circle img-thumbnail" />
                    <svg class="mi-progressbar">
                        <circle id="circle1" r="25%" cx="50%" cy="50%" stroke-width="20"></circle>
                    </svg>

            </div>

        </div>

    </div> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>